[submodule "vendor/librespot"]
	path = vendor/librespot
	url = https://github.com/librespot-org/librespot.git
[submodule "vendor/rspotify"]
	path = vendor/rspotify
	url = https://github.com/ramsayleung/rspotify.git
